.footerTitle{
font-weight: 600;
font-size: 18px;
line-height: 16px;
letter-spacing: 0.5px;
color: #111111;
}
.footerItems{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color:#111111;

}