.favIcon {
  right: 20px;
  bottom: 10px;
}
.InstitutionName {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.5px;
  top: 10px;
  left: 10px;
}
.rounded-small {
  border-radius: 4px;
}
.countryName {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  vertical-align: middle;
  color:  #777C88;
  text-transform: uppercase;
}
.programTitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #111111;
}
.courseDetails{
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.5px;
vertical-align: middle;
color: #777C88;
}
.coursePrice{
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0.5px;
vertical-align: middle;
color: #111111;
}