.programTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.5px;
  vertical-align: middle;
}
.programTabs {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  vertical-align: middle;
}
.viewTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
}
